body{
    background-image: url(imagen-fondo-presentacion-sinletra.png);
    background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%top;
      margin: 10em;
  }
  .container-fluid{
    padding: 1em;
  }  
  p{
    font-size:1em;
    font-family: monospace;
    text-align: center;
  }
