body{
    background-color: beige;
}
h1 {
    text-align: center;
    color: chocolate;
    text-decoration: underline;
    font-weight: bold;
}
h2,h3,h4,p {
    color: chocolate;
}
.cuerpo {
    text-align:justify;
}